PORT=5001
CLIENT_ORIGIN=http://localhost:3000,http://localhost:3001
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=rizwan@gmail.com
EMAIL_PASS=26657MRizwank7890
EMAIL_TO=rizwankambooh6@gmail.com
