body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0f0f0f;
  color: white;
}

html {
  scroll-behavior: smooth;
}

.section {
  padding: 80px 20px;
}

.container {
  max-width: 1200px;
  margin: auto;
}